<a href="https://colab.research.google.com/github/sdam-au/mounds_ETL/blob/master/scripts/EXPLORING-MOUNDS-IN-GSHEETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture

### GENERAL REQUIREMENTS - will install the libraries
import numpy as np
import math
import pandas as pd
from google.colab import files
import sys
import requests
from urllib.request import urlopen 
from bs4 import BeautifulSoup
import io
# to avoid errors, we sometime use time.sleep(N) before retrying a request
import time
# the input data have typically a json structure
import json
import getpass
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import warnings
warnings.filterwarnings('ignore')
from functools import reduce


import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth
from oauth2client.client import GoogleCredentials

!pip install sddk ### our own package under construction, always install to have an up-to-date version
import sddk

In [ ]:
### configure session and groupurl
### in the case of "SDAM_root", the folder owner is Vojtech with username 648597@au.dk
conf = sddk.configure_session_and_url("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ··········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

# Reading and merging the data

In [ ]:
### authorize google sheets 
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

# establish connection with particular sheets by their url:
AORDataset = gc.open_by_url("https://docs.google.com/spreadsheets/d/1cx0nntcCLgrwQvCvvIYkjFJ-TnoJ0QRJfTgrf2qEEv4/edit?usp=sharing")
IzvestiaDataset = gc.open_by_url("https://docs.google.com/spreadsheets/d/1wOxbKVHGNHox4h86Z5ZXXADUubMJofC1KqDLMLT13a8/edit?usp=sharing")

# Preprocessing AOR dataset

In [ ]:
# what worksheets we have:
AORDataset.worksheets()

[<Worksheet 'GeneralSpatial' id:1795672216>,
 <Worksheet 'MoundAttributes' id:819285652>,
 <Worksheet 'BurialAttributes' id:1240910271>,
 <Worksheet 'Lookups' id:504663605>,
 <Worksheet 'MoundNumbers' id:2134988134>,
 <Worksheet 'AOR_aggr' id:814313151>]

In [ ]:
# importing three lists into three dataframes
AORDataset_GeneralSpatial = pd.DataFrame(AORDataset.worksheet("GeneralSpatial").get_all_records())
AORDataset_MoundAttributes = pd.DataFrame(AORDataset.worksheet("MoundAttributes").get_all_records())
AORDataset_BurialAttributes = pd.DataFrame(AORDataset.worksheet("BurialAttributes").get_all_records())

In [ ]:
AORDataset_BurialAttributes.head(5)

   MoundID     Name  ... Enddate                                  Chronology rating
0     1002  Mound 5  ...   -3000  1 - rough estimate by author on basis of the a...
1     1002  Mound 5  ...   -3000  1 - rough estimate by author on basis of the a...
2     1002  Mound 5  ...   -3000  1 - rough estimate by author on basis of the a...
3     1002  Mound 5  ...   -3000  1 - rough estimate by author on basis of the a...
4     1003  No name  ...   -3000  3 - a number of burial aspects consulted and c...

[5 rows x 23 columns]

In [ ]:
# explore unique values within "StartDate" and "Enddate"
# (to avoid unintentional remove of valuable info like "beginning" or "end")
print(AORDataset_BurialAttributes["Enddate"].unique().tolist())

[-3000, 200, 225, 250, 400, 150, 500, -600, 300, -50, -280, '', -200, 125, 1300, 100, -1100, -375, -250, 25, -300, 1100, 75, -2700, -1600, -1800, -2000, 1400, 1700, 50, 1800, -350, 240, '?', 1200, -275, 0, 1850, -2500, -3200, -800, -1200, -700, -325, -290, 'no data', 180, 120, -1700, -2800, -2200, 175, 1600, 325, -1000, -900, 1500, -420, -400, -650, -2100, 1000, -500, 350, -1350, 425, -100, -1150, 600, -450, 1878, 450, 170, 1050, 1900, 1825, -425, -475, -2600, 315, -285, -75, 375, -850, 275, -575, 320, -150, 1250, -550]

In [ ]:
# force column to integers
def get_int(value):
  try:
      variable = int(value)
  except ValueError:
      variable = None
  return variable
for column in ["StartDate", "Enddate"]:
  AORDataset_BurialAttributes[column] = AORDataset_BurialAttributes.apply(lambda row: get_int(row[column]), axis=1)

In [ ]:
# grouping BurialAttributes by mounds

def get_data_from_group(group):
  """
  function to get data from a group class object produced by pandas groupby() function
  """
  group = pd.DataFrame(group).reset_index() # transform group object into dataframe object
  group.sort_values("StartDate", inplace=True) # sort it in by "StartData" column (ascending order)
  mound = {"MoundID" : group["MoundID"][0]} # get mound ID (on the basis of the first row, but should be the same for all rows within a group)
  mound["Graves"] = len(group) # how many rows we have 
  mound["FirstStartDate"] = group['StartDate'][0] # get "StartDate" from the first row
  mound["FirstEndDate"] = group['Enddate'][0]  # get "Enddate" from the first row
  mound["MaxEndDate"] = group["Enddate"].max() # get maximum value for "Enddate" for all rows
  mound["FirstChronologyRating"] = group["Chronology rating"][0]
  mound["FirstEnclosureType"] = group["Enclosure Type"][0]
  mound["FirstBurialNumber"] = group["Burial No"][0]
  mound["GraveRankSymbols"] = list(set([rank.partition(" -")[0] for rank in group["Grave Rank symbols"].tolist()])) # list of all unique
  mound["AllDates"] = [(date[0], date[1]) for date in zip(group['StartDate'], group['Enddate'])] # list of tuples of all dates 
  try:
    mound["TotalBurialNumber"] = group["Burial No"].astype(int).sum() # total number of burials associated with given mound
  except:
    mound["TotalBurialNumber"] = None
  mound["BurialAttributesAggr"] = pd.DataFrame(group).reset_index().T.to_dict() # all data packed from given group packed into a dictionary, rows as keys
  return mound
AORDataset_BurialAttributes_grouped = pd.DataFrame(AORDataset_BurialAttributes.sort_values("StartDate").groupby("MoundID").apply(lambda group_df: get_data_from_group(group_df)).tolist())
AORDataset_BurialAttributes_grouped.head(10)

   MoundID  ...                               BurialAttributesAggr
0     1002  ...  {0: {'level_0': 0, 'index': 0, 'MoundID': 1002...
1     1003  ...  {0: {'level_0': 0, 'index': 4, 'MoundID': 1003...
2     1004  ...  {0: {'level_0': 0, 'index': 6, 'MoundID': 1004...
3     1005  ...  {0: {'level_0': 0, 'index': 10, 'MoundID': 100...
4     1006  ...  {0: {'level_0': 0, 'index': 57, 'MoundID': 100...
5     1008  ...  {0: {'level_0': 0, 'index': 104, 'MoundID': 10...
6     1009  ...  {0: {'level_0': 0, 'index': 106, 'MoundID': 10...
7     1010  ...  {0: {'level_0': 0, 'index': 107, 'MoundID': 10...
8     1011  ...  {0: {'level_0': 0, 'index': 118, 'MoundID': 10...
9     1012  ...  {0: {'level_0': 0, 'index': 120, 'MoundID': 10...

[10 rows x 12 columns]

In [ ]:
# example of one value nested within "BurialAttributesAggr" column
AORDataset_BurialAttributes_grouped[AORDataset_BurialAttributes_grouped["MoundID"]== 1115]["BurialAttributesAggr"].tolist()[0][6]

{'AnimalRemains': '',
 'Assemblage?': 'Y',
 'Burial No': '',
 'Chronology rating': '1 - rough estimate by author on basis of the assemblage',
 'DrinkingCups': '',
 'Enclosure Type': 'Funeral pyre in a pit',
 'Enddate': 250.0,
 'Extra skeletal remains?': '',
 'FineVessels': '',
 'Grave Rank symbols': 'not available',
 'GraveNo': 11,
 'HMPottery': '',
 'Imports': '',
 'Jewellery': '',
 'LaborAssessment': 'some elaboration (marks of a coffin, small stone circle, tiled or stone lined grave of RM period)',
 'Lithics': '',
 'MoundID': 1115,
 'Name': 'Mound 2',
 'Notes on burial': '',
 'SpecialFinds': '',
 'StartDate': 150.0,
 'Storage': '',
 'Weapons': '',
 'index': 828,
 'level_0': 10}

In [ ]:
# exporting to gsheet
#set_with_dataframe(AORDataset.add_worksheet("BurialAttributes_grouped", 1, 1), AORDataset_BurialAttributes_grouped)

In [ ]:
# merge lists using "MoundID"
dfs = [AORDataset_GeneralSpatial, AORDataset_MoundAttributes, AORDataset_BurialAttributes_grouped]
AOR_df = dfs[0].merge(dfs[1], on="MoundID", how="inner").merge(dfs[2], on="MoundID", how="inner")

In [ ]:
AOR_df.head(5)

  MoundID  ...                               BurialAttributesAggr
0    1107  ...  {0: {'level_0': 0, 'index': 743, 'MoundID': 11...
1    1179  ...  {0: {'level_0': 0, 'index': 1190, 'MoundID': 1...
2    1392  ...  {0: {'level_0': 0, 'index': 1992, 'MoundID': 1...
3    1393  ...  {0: {'level_0': 0, 'index': 1993, 'MoundID': 1...
4    1012  ...  {0: {'level_0': 0, 'index': 120, 'MoundID': 10...

[5 rows x 31 columns]

In [ ]:
# export to gsheet
# (without BurialAttributesAggr column)
set_with_dataframe(AORDataset.add_worksheet("AOR_aggr", 1, 1), AOR_df.drop("BurialAttributesAggr", axis=1))

In [ ]:
# export to sciencedata
sddk.write_file("SDAM_data/mounds/AOR_df_2020-06-24.json", AOR_df, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/mounds/AOR_df_2020-06-24.json"

# Preprocessing Izvestia dataset

In [ ]:
# what worksheets we have:
IzvestiaDataset.worksheets()

[<Worksheet 'General' id:369527838>,
 <Worksheet 'MoundAttributes' id:548739213>,
 <Worksheet 'BurialAttributes' id:18001881>,
 <Worksheet 'FlatCemeteries' id:34049049>,
 <Worksheet 'TimeOnTask' id:136710821>,
 <Worksheet 'Lookups' id:935910602>,
 <Worksheet 'Izvestia_aggr' id:898354309>]

In [ ]:
# importing three lists into three dataframes
IzvestiaDataset_General = pd.DataFrame(IzvestiaDataset.worksheet("General").get_all_records())
IzvestiaDataset_MoundAttributes = pd.DataFrame(IzvestiaDataset.worksheet("MoundAttributes").get_all_records())
IzvestiaDataset_BurialAttributes = pd.DataFrame(IzvestiaDataset.worksheet("BurialAttributes").get_all_records())

In [ ]:
IzvestiaDataset_BurialAttributes["StartDate"].unique().tolist()

[-450,
 -200,
 'N/A',
 -600,
 200,
 100,
 ' possible data-201',
 ' possible data-200',
 300,
 'the end -500',
 'end of -600',
 -500,
 -400,
 'second half of 100',
 'second half of -500',
 'end of 200',
 -300,
 500,
 'end of -400',
 'second half of 400',
 'end of -500',
 'end of -200',
 'middle of 200',
 'end of 100',
 '',
 'end of 099',
 'end of 101',
 'end of 102',
 'end of -300',
 -700,
 -1100,
 'end of -700']

In [ ]:
import re

In [ ]:
# get all unique dates
starddates_unique = IzvestiaDataset_BurialAttributes["StartDate"].unique().tolist()
enddates_unique = IzvestiaDataset_BurialAttributes["Enddate"].unique().tolist()
dates_unique = list(set(starddates_unique + enddates_unique))

In [ ]:
# get all unique dates containing letters (and not just numbers) 
dates_strings = [el for el in dates_unique if re.search("[a-z]", str(el))]
dates_strings_df = pd.DataFrame(dates_strings, columns=["raw_string"])
dates_strings_df

                raw_string
0              end of -400
1    the beginning of -500
2        first half of 200
3              middle -300
4       second half of 200
5           the end of-500
6               end of 102
7              end of -500
8     the beggining ot 300
9         beggining of 400
10      second half of 300
11              end of 100
12        beginning of 300
13             end of -700
14              end of 101
15       beggining of -200
16            the end -500
17      second half of EBA
18      second half of 400
19        beggining of 200
20     second halh of -400
21   the beggining of -500
22           middle of 200
23              end of 099
24       beginning of -300
25              end of 200
26             end of -200
27           middle of 400
28     second half of -400
29       beggining of -300
30      second half of 100
31  no data in the article
32             middle -500
33        beginning of 400
34      first half of -400
35       possible data-200
36     second half of -500
37    the beggining of 300
38        Early Bronze Age
39     second half of -300
40       first half of 100
41             end of -600
42       possible data-201
43       possible data-150
44   the beggining of -400
45                 unclear
46        beggining of 300
47             end of -300

In [ ]:
set_with_dataframe(IzvestiaDataset.add_worksheet("dates_strings", 1,1), dates_strings_df)

In [ ]:
# force dates as numbers (see above)
for column in ["StartDate", "Enddate"]:
  IzvestiaDataset_BurialAttributes[column] = IzvestiaDataset_BurialAttributes.apply(lambda row: get_int(row[column]), axis=1)

In [ ]:
IzvestiaDataset_BurialAttributes.head(5)

   MoundID  ...                          Reflections on chronology
0        2  ...                there are pictures of the inventory
1        3  ...  there are pictures of the cist grave and of th...
2        3  ...                                         no picture
3        4  ...                                         no picture
4        4  ...                there are pictures of the inventory

[5 rows x 34 columns]

In [ ]:
IzvestiaDataset_BurialAttributes.columns

Index(['MoundID', 'Name', 'GraveNo', 'Enclosure Type', 'Enclosure dimensions',
       'Enclosure materials', 'LaborAssessment', 'Burial No', 'Burial type',
       'Sex', 'Age', 'SkeletonOrder', 'SkeletonPosition', 'InhumOrientation',
       'Extra skeletal remains?', 'Notes on burial', 'Assemblage?', 'Lithics',
       'CoarsePottery', 'Storage', 'FineVessels', 'DrinkingCups', 'Jewellery',
       'Weapons', 'SpecialFinds', 'Imports', 'Grave Rank symbols',
       'Notes of burial assemblage', 'StartDate', 'Enddate', 'Date based on',
       'ChronoResource', 'Chronology rating', 'Reflections on chronology'],
      dtype='object')

In [ ]:
IzvestiaDataset_BurialAttributes_grouped = pd.DataFrame(IzvestiaDataset_BurialAttributes.sort_values("StartDate").groupby("MoundID").apply(lambda group_df: get_data_from_group(group_df)).tolist())
IzvestiaDataset_BurialAttributes_grouped.head(10)

   MoundID  ...                               BurialAttributesAggr
0        2  ...  {0: {'index': 0, 'MoundID': 2, 'Name': 'Divdiy...
1        3  ...  {0: {'index': 2, 'MoundID': 3, 'Name': 'Malami...
2        4  ...  {0: {'index': 8, 'MoundID': 4, 'Name': 'Kaluge...
3        5  ...  {0: {'index': 9, 'MoundID': 5, 'Name': 'Diyado...
4        6  ...  {0: {'index': 10, 'MoundID': 6, 'Name': 'Mound...
5        7  ...  {0: {'index': 12, 'MoundID': 7, 'Name': 'Mound...
6        8  ...  {0: {'index': 14, 'MoundID': 8, 'Name': 'Mound...
7        9  ...  {0: {'index': 16, 'MoundID': 9, 'Name': 'Mound...
8       10  ...  {0: {'index': 20, 'MoundID': 10, 'Name': 'Moun...
9       11  ...  {0: {'index': 23, 'MoundID': 11, 'Name': 'Moun...

[10 rows x 12 columns]

In [ ]:
# uncomment to export to dataframe 
#set_with_dataframe(IzvestiaDataset.worksheet("BurialAttributes_grouped"), IzvestiaDataset_BurialAttributes_grouped)

In [ ]:
# merge using "MoundID"
dfs = [IzvestiaDataset_General, IzvestiaDataset_MoundAttributes, IzvestiaDataset_BurialAttributes_grouped]
Izvestia_df = dfs[0].merge(dfs[1], on="MoundID", how="inner").merge(dfs[2], on="MoundID", how="inner")

In [ ]:
Izvestia_df

    MoundID  ...                               BurialAttributesAggr
0         2  ...  {0: {'index': 0, 'MoundID': 2, 'Name': 'Divdiy...
1         3  ...  {0: {'index': 2, 'MoundID': 3, 'Name': 'Malami...
2         4  ...  {0: {'index': 8, 'MoundID': 4, 'Name': 'Kaluge...
3         5  ...  {0: {'index': 9, 'MoundID': 5, 'Name': 'Diyado...
4         6  ...  {0: {'index': 10, 'MoundID': 6, 'Name': 'Mound...
..      ...  ...                                                ...
278     280  ...  {0: {'index': 435, 'MoundID': 280, 'Name': 'mo...
279     281  ...  {0: {'index': 436, 'MoundID': 281, 'Name': 'mo...
280     282  ...  {0: {'index': 437, 'MoundID': 282, 'Name': 'mo...
281     283  ...  {0: {'index': 439, 'MoundID': 283, 'Name': 'mo...
282     284  ...  {0: {'index': 441, 'MoundID': 284, 'Name': 'mo...

[283 rows x 53 columns]

In [ ]:
# export to gsheet
set_with_dataframe(IzvestiaDataset.add_worksheet("Izvestia_aggr", 1,1), Izvestia_df.drop("BurialAttributesAggr", axis=1))

In [ ]:
sddk.write_file("SDAM_data/mounds/Izvestia_df.json", Izvestia_df, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/mounds/Izvestia_df.json"